/*
  icon font: IRANsansBold
  */
@font-face {
    font-family: 'IRANsansBold';
    src: url('../fonts/IRANsans/IRANSansWeb_Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/IRANsans/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/IRANsans/IRANSansWeb_Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/IRANsans/IRANSansWeb_Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/IRANsans/IRANSansWeb_Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
    /*url('webfont.svg#svgFontName') format('svg'); !* Legacy iOS *!*/
}