{% load static %}

<!-- Start Footer -->
<footer class="footer-box" >
    <div class="container" >
        <div class="row" dir="rtl" style="text-align: right">
            <div class="col-md-12 margin-bottom_30" dir="ltr" style="text-align: left">
                <img src="{% static 'root/img/f_logo.png' %}" alt="#" />
            </div>
            <div class="col-xl-6 white_fonts">
                <div class="row">
                    <div class="col-md-12 white_fonts margin-bottom_30">
                        <h3>تماس با ما</h3>
                    </div>
                    <div class="col-md-4">
                        <div class="full icon">
                            <img src="{% static 'root/img/social1.png' %}">
                        </div>
                        <div class="full white_fonts">
                            <p>رشت
                                <br>ایران</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="full icon">
                            <img src="{% static 'root/img/social2.png' %}">
                        </div>
                        <div class="full white_fonts">
                            <p>consultation@gmail.com
                                <br>consultation@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="full icon">
                            <img src="{% static 'root/img/social3.png' %}">
                        </div>
                        <div class="full white_fonts">
                            <p style="direction: ltr">+7586656566
                                <br>+7586656566</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <ul class="full social_icon margin-top_20">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 white_fonts">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer_blog footer_menu">
                            <h3>منو</h3>
                            <ul>
                                <li><a href="{% url 'base:index' %}">صفحه اصلی</a></li>
                                <li><a href="{% url 'base:about' %}">درباره ما</a></li>
                                <li><a href="{% url 'base:services' %}">سرویس ها</a></li>
{#                                <li><a href="#">Blog</a></li>#}
                                <li><a href="{% url 'base:contact' %}">تماس با ما</a></li>
                            </ul>
                        </div>
{#                        <div class="footer_blog recent_post_footer" dir="rtl">#}
{#                            <h3>Recent Post</h3>#}
{#                            <p>Participate in staff meetings manage dedicated to marketing November 25, 2019</p>#}
{#                        </div>#}
                    </div>
                    <div class="col-md-6">
                        <div >
                            <h3>خبرنامه</h3>
                            <div class="newsletter_form">
                                <form action="{% url 'base:index' %}" dir="rtl">
                                    {% csrf_token %}
                                    <input type="email" placeholder="ایمیل شما" name="#" required />
                                    <button>ارسال</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer_bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="crp">© 2021 Business . All Rights Reserved.</p>
                <ul class="bottom_menu">
                    <li><a href="#">شرایط خدمت رسانی</a></li>
                    <li><a href="#">حریم خصوصی</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>
<!-- End Footer -->