{% load static %}
{% load i18n %}
<header class="top-header">
    <nav class="navbar header-nav navbar-expand-lg">
        <div class="container-fluid">
        {% if logo %}
            <a class="navbar-brand" href="{% url 'base:index' %}"><img src="{{ logo }}" alt="#"></a>
        {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd"
                    aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                <ul class="navbar-nav font-iransansBold">
                    <li><a class="nav-link" href="{% url 'base:contact' %}">ارتباط با ما</a></li>
                    <li><a class="nav-link" href="{% url 'base:about' %}">درباره ما</a></li>
                    <li><a class="nav-link" href="{% url 'base:services' %}">سرویس ها</a></li>
                    <li><a class="nav-link active" href="{% url 'base:index' %}">صفحه اصلی</a></li>

                    {% if not request.user.is_authenticated %}
                        <li><a class="nav-link active" style="background:#f2184f;color:#fff;"
                               href="{% url 'accounts:login' %}">{% trans 'Sign in' %}</a></li>
                    {% else %}
                        <li><a class="nav-link active" style="background:#f2184f;color:#fff;"
                               href="{% url 'accounts:logout' %}">{% trans "Logout" %}</a></li>
                        <li>
                            <a class="nav-link active" style="background:#f2184f;color:#fff;"
                               href="{% url 'accounts:profile' %}">{% trans "Profile" %} {{ request.user.full_name }}</a>
                        </li>
                    {% endif %}
                    {% if request.user.is_admin %}
                        <li><a class="nav-link active" target="_blank" style="background:#f2184f;color:#fff;"
                               href="/admin">پنل
                            مدیریت</a></li>
                    {% endif %}
                </ul>
            </div>
            {#            <div class="search-box">#}
            {#                <input type="text" class="search-txt" placeholder="جسجتجو" style="text-align: center">#}
            {#                <a class="search-btn">#}
            {#                    <img src="{% static 'root/img/search_icon.png' %}" alt="#"/>#}
            {#                </a>#}
            {#            </div>#}
        </div>
    </nav>
</header>