{% load static %}
<header class="top-header">
    <nav class="navbar header-nav navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'base:index' %}"><img src="{% static 'root/img/logo.png' %}" alt="image"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                <ul class="navbar-nav">
                    <li><a class="nav-link" href="#">ارتباط با ما</a></li>
                    <li><a class="nav-link" href="#">بلاگ</a></li>
                    <li><a class="nav-link" href="{% url 'base:about' %}">درباره ما</a></li>
                    <li><a class="nav-link" href="{% url 'base:services' %}">سرویس ها</a></li>
                    <li><a class="nav-link active" href="{% url 'base:index' %}">صفحه اصلی</a></li>
                    <li><a class="nav-link active" style="background:#f2184f;color:#fff;" href="admin/">پنل مدیریت</a></li>
                </ul>
            </div>
            <div class="search-box">
                <input type="text" class="search-txt" placeholder="جسجتجو" style="text-align: center">
                <a class="search-btn">
                    <img src="{% static 'root/img/search_icon.png' %}" alt="#" />
                </a>
            </div>
        </div>
    </nav>
</header>