{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Login Form' %}
{% endblock title %}
{% block body %}
    <section class="bg-texture">
        <div class="row">
            <div class="col-xl-4 col-sm-2"></div>
            <div class="col-xl-4 col-sm-8" style="margin: 20px 0 20px 0;">
                <div class="animated rubberBand"
                     style="background: #1f1f1f; border-radius: 5px; padding: 20px; color: #ffffff;">
                    <div dir="rtl" style="text-align: right">
                        <h3 class="text-center font-iransansBold" style="color: #36ff00"><b>{% trans 'Login Form' %}</b></h3>
                        <hr style="border:1px solid green;border-radius:3px;">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group font-iransansBold">
                                {{ form.as_p }}
                                <small id="emailHelp" class="form-text text-muted font-iransans" dir="rtl">
                                    {% trans "We'll never share your phone number with anyone else." %}
                                </small>
                                <small> <a class="login-link font-iransans" style="color: #ff5353"
                                           href="{% url 'accounts:forget' %}">{% trans 'Forget Your Password?' %}</a></small>
                            </div>
                            <p>
                                <button type="submit" class="btn btn-info btn-block font-iransansBold">{% trans "Login" %}</button>
                            </p>
                            <p class="font-iransansBold" style="text-align: center; color: #00ff0f"><b>{% trans 'OR' %}</b></p>
                            <p>
                                <a class="btn btn-outline-warning btn-block font-iransansBold" href="{% url 'accounts:register' %}">
                                    {% trans "Sign up" %}
                                </a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-2"></div>
        </div>
    </section>
{% endblock body %}