{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{% trans 'Verify Page' %}
{% endblock title %}
{% block body %}
    <section class="bg-texture">
        <div class="container">
            <div class="row" style="margin: 40px 0 60px 0;">
                <div class="col-xl-4 col-sm-2"></div>
                <div class="col-xl-4 col-sm-8 font-iransansBold" style="text-align: center">
                    <div class="animated rubberBand"
                         style="background: #1f1f1f; border-radius: 5px; padding: 20px; color: #ffffff;">
                        <div dir="rtl" style="text-align: right">
                            <h3 class="text-center" style="color: #7abaff">{% trans "Verify Confirm" %}</h3>
                            <hr class="border-color: #ffffff;"/>
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form.as_p }}
                                    <small id="emailHelp" class="form-text text-muted" dir="rtl">
                                        {% trans "Confirm Code for you send" %}
                                    </small>
                                </div>
                                <button type="submit" class="btn btn-info btn-block">{% trans "Verify" %}</button>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-2"></div>
            </div>
        </div>
    </section>
{% endblock body %}