<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="#"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'root/css/bootstrap.min.css' %}"/>
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'root/css/pogo-slider.min.css' %}"/>
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'root/css/style.css' %}"/>
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'root/css/responsive.css' %}"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'root/css/custom.css' %}"/>

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    {% block head %}{% endblock head %}
</head>
<body class="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">
{% include 'partials/header.html' %}
{% block body %}
{% endblock body %}
</body>
</html>