<!-- section -->
<div class="section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <div>
                    <div class="heading_main">
                        <div>
                            <h2>
                                <span class="theme_color">{{ about.head1 }}</span>
                            </h2>
                            <p class="large">{{ about.head1_text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section dark_bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 white_fonts layout_padding padding_left_right">
                <h3 class="small_heading">{{ about.img_head }}</h3>
                <p>{{ about.img_text }}</p>
            </div>
            <div class="col-lg-6 col-md-12 text_align_center padding_0">
                <div class="full">
                    <img class="img-responsive" src="{{ about.img }}" alt="#" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
