{% extends 'base.html' %}
{% load static %}
{% block title %}
    درباره ما
{% endblock title %}
{% block body %}
    <!-- Start Banner -->
    <div class="section inner_page_header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="text-align: right">
                    <div class="full">
                        <h3>درباره ما</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Banner -->
    {% include 'base/about_head.html' with about=about %}
    {% include 'base/about_team.html' with about=about %}
    {% include 'base/about_colleague.html' with about=about %}
{% endblock body %}