<!-- section -->
<div class="section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full" style="direction: rtl;text-align: right">
                    <div class="heading_main text_align_left">
                        <div class="right">
                            <p class="small_tag">سرویس ها</p>
                            <h2><span class="theme_color"> {{ service.head1 }} </span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-top_30" style="text-align: right; direction: rtl">
            {% if service.service_tools.all.count > 0 %}
                <div class="col-sm-6 col-md-4">
                    <div class="service_blog">
                        <div class="service_icons">
                            <img width="75" height="75" src="{{ service.service_tools.all.0.avator }}" alt="#">
                        </div>
                        <div class="full">
                            <h4>{{ service.service_tools.all.0.head_service }}</h4>
                        </div>
                        <div class="full">
                            <p>{{ service.service_tools.all.0.text_service }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="service_blog">
                        <div class="service_icons">
                            <img width="75" height="75" src="{% static 'root/img/icon-2.png' %}" alt="#">
                        </div>
                        <div class="full">
                            <h4>DIGITAL marketing</h4>
                        </div>
                        <div class="full">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="service_blog">
                        <div class="service_icons">
                            <img width="75" height="75" src="{% static 'root/img/icon-3.png' %}" alt="#">
                        </div>
                        <div class="full">
                            <h4>DIGITAL marketing</h4>
                        </div>
                        <div class="full">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="service_blog">
                        <div class="service_icons">
                            <img width="75" height="75" src="{% static 'root/img/icon-4.png' %}" alt="#">
                        </div>
                        <div class="full">
                            <h4>DIGITAL marketing</h4>
                        </div>
                        <div class="full">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="service_blog">
                        <div class="service_icons">
                            <img width="75" height="75" src="{% static 'root/img/icon-5.png' %}" alt="#">
                        </div>
                        <div class="full">
                            <h4>DIGITAL marketing</h4>
                        </div>
                        <div class="full">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="service_blog">
                        <div class="service_icons">
                            <img width="75" height="75" src="{% static 'root/img/icon-6.png' %}" alt="#">
                        </div>
                        <div class="full">
                            <h4>DIGITAL marketing</h4>
                        </div>
                        <div class="full">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since</p>
                        </div>
                    </div>
                </div>

            {% endif %}


        </div>
    </div>
</div>
<!-- end section -->